@import 'tailwindcss';

@theme {
  --color-primary: #2A5C5C;
  --color-secondary: #5D4037;
  --color-tertiary: #F8BBD0;
  --color-neutral: #FFF9F1;
  --font-family-headline: 'Epilogue', serif;
  --font-family-body: 'Plus Jakarta Sans', sans-serif;
  --font-family-label: 'Plus Jakarta Sans', sans-serif;
}

:root {
  --primary: #2A5C5C;
  --secondary: #5D4037;
  --tertiary: #F8BBD0;
  --neutral: #FFF9F1;

}

body {
  background-color: var(--neutral);
}

@media (prefers-color-scheme: dark) {}

body {
  margin: 0;
}